.contact-main{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.contactWithUs {
    padding: 30px;
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    background-color: #367010;
    color: #ffffff;
}

.contact{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 50px;
  max-width: 800px;
}

.contact-with-us {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; 
}

form {
  margin-top: 40px;
}

.form-inp {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 350px
}
.form-inp label{
  font-size: 22px;
  margin-right: 10px;
  color: green;
}
.form-inp input {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid grey;
  padding-left: 10px;
  outline: none;
}
.form-inp textarea {
  width: 300px;
  resize: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;
}
.send-button {
  width: 150px;
  background-color: #266118;
  border-radius: 27px;
  height: 30px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

