.tutor-header {
  padding: 15px;
  display: flex;
  background-color: #eef1ee;
}

.tut-page-nav a {
    color: rgb(97, 122, 97);
    font-weight: 600;
    transition: all .3s;
    padding: 10px;
  }
  
  .tut-page-nav a:hover {
    color: rgb(32, 85, 32);
    font-weight: 600;
  }

  .tut-page-nav > .active {
    background-color: #bebebe;
  width: auto;
  border-radius: 7px;
  }

  .tut-prof-logo {
    position: absolute;
  }
  
  .tut-page-nav {
    margin: 0 auto;
    width: 550px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  
  .tut-page-nav img {
    width: 25px;
    vertical-align: sub;
  }

.tutor-content {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.tut-content {
  width: 1000px;
  height: 500px;
  background: #eef1ee;
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
}

.about-the-instructor{
  margin: 40px;
  background-color: #caccca;
}

.tut-content h1 {
  font-size: 26px;
  margin: 30px 0px 40px 50px;
  color: #244d24;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tut-content p {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

.tut-content h3 {
  font-size: 18px;
  margin: 20px 10px 20px 40px;
  color: #244d24;
  text-align: center;
}


